table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#DEF1FF;}

th:nth-child(8),  th:nth-child(9){
    width: 6%;
}
th:nth-child(1), th:nth-child(3), th:nth-child(6),  th:nth-child(7){
    width: 8%;
}
th:nth-child(2), th:nth-child(4),  th:nth-child(5){
    width: 17%;
}
td:nth-child(11), td:nth-child(10){
    display: none
}
